@model WelTecEventSystem.Models.Event

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventImage3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventImage3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventClassroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventClassroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxNumberOfParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxNumberOfParticipants)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
