@model IEnumerable<WelTecEventSystem.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#eventTable').DataTable();
        });
    </script>
</head>
<body class="container-fluid">

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table id="eventTable" class="display responsive table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                @*column headers*@
                <th>
                    Edit/Details/Delete
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserMainEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserSecondEmail)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserMainEmail">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserMainEmail">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserMainEmail">Delete</a>
                </td>
                @*row data*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMainEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSecondEmail)
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
